<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style1.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/scripts/user.js"></script>
</head>

<body>
    <div class="logo">
        <img src="/img/img1.png">
    </div>
    <div class="center">
        <div class="container">
            <div class="text">
                Enter Details</div>
            <form action="/cardlogin" method="POST">
                <div class="data">
                    <label>Reg. email</label>
                    <input id="phone" name="u_email" type="text" required>
                </div>
                <div class="data">
                    <label>Password</label>
                    <input id="pass" name="pass" type="password" required>
                </div>
                <div class="forgot-pass">
                    <a href="#">Forgot Password?</a></div>
                <div class="btn">
                    <div class="inner">
                    </div>
                    <button type="submit" >Lets go!</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>